<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>CRUD COM NODE</title>
    
</head>
<style>
    .grey-bg {
      background-color: #eee;
    }

    .bg-blue {
      background-color: #fefefe;
    }

    .label-size {
      font-size: 1.05em;
      font-weight: bold;
    }

    .ligh-label {
        font-weight: normal;
    }
  </style>
<body class="grey-bg">    
    <%- include ("..\\partialNavbar.ejs") %>  
    <h1 class="mt-3 mb-3" style="text-align: center;">Editar produdto</h1>       
    <% produto.forEach(function(details) { %>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-2"></div>
        <form class="col-lg-6 col-sm-8 bg-blue p-4 rounded shadow" action="/editProduto/<%= details._id %>" method="post" style="text-align: center;">
            
            <div class="form-group">
                <label for="produto" class="label-size">Produto</label>
                <input type="text" class="form-control" value="<%= details.produto %>" id="produto" name="produto" >                
            </di>           
            <div class="form-group">
                <label class="label-size mt-3" for="preco">Descrição</label>
                <input type="text" class="form-control" value="<%= details.descricao %>" id="descricao" name="descricao">
            </div>

            <div class="form-group">
                <label class="label-size mt-1" class="label-size mt-3" for="cpf">Quantidade</label>
                <input type="text" value="<%= details.quantidade %>" class="form-control" id="quantidade" name="quantidade">                
            </div>         
        
            <div class="form-group">
                <label class="label-size mt-2" for="precoUnitario">preço unitário </label>
                <input type="text" value="<%= details.precoUnitario %>" class="form-control" id="precoUnitario" name="precoUnitario" >                
            </div>

            <div class="form-group">
              <label class="label-size mt-2" for="estado">Fornecedor </label>
              <input type="text" value="<%= details.fornecedor %>" class="form-control" id="fornecedor" name="fornecedor" >                
          </div>

            <p class="label-size">Novo/Usado<br>
              <input type="radio" name="novoUsado" id="novo" value="novo" checked>
              <label class="ligh-label" for="novo">Novo</label>
              <input type="radio" name="novoUsado" id="usado" class="r" value="usado">
              <label class="ligh-label" for="usado">Usado</label>
          </p>
        
            <div class="form-group">
                <label class="label-size mt-2" for="quem">Cor  </label>
                <input type="text" class="form-control" value="<%= details.cor %>" id="cor" name="cor" >                
            </div>

            <div class="form-group">
                <label class="label-size mt-2" for="qualDado">Tamanho </label>
                <input type="text" class="form-control" value="<%= details.tamanho %>" id="tamanho" name="tamanho" >                
            </div>
            
            <br>
            <button type="submit" class="btn btn-outline-dark">Salvar</button>
            <a href="/showProdutos" class="btn btn-outline-dark">Voltar</a>
            
        </form>
                <div class="col-lg-3 col-sm-2"></div>
            </div>
        </div> 
    <% }) %> 

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>