<%- include("componentes/header.ejs")%>
<title>Listagem</title>

<%- include("componentes/menu.ejs")%>
<div class="container-fluid">
    <div class="shadow p-5 my-5 bg-dark text-white col-sm">
        <!-- <div class="p-1 mb-5"> -->
        <div class="mb-3">
            <h2>Listagem</h2>
        </div>
        <table class="table table-hover table-dark" border='1'>
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Instituição</th>
                    <th>Curso</th>
                    <th>Semestre</th>
                </tr>
            </thead>
    </div>
</div>
</div>
</div>
</div>
<tbody>
    <% data.forEach( function(details) { %>
    <tr>
        <td>
            <%= details.nome%>
        </td>
        <td>
            <%= details.sobrenome%>
        </td>
        <td>
            <%= details.cpf%>
        </td>
        <td>
            <%= details.email%>
        </td>
        <td>
            <%= details.telefone%>
        </td>
        <td>
            <%= details.instituicao%>
        </td>
        <td>
            <%= details.curso%>
        </td>
        <td>
            <%= details.semestre%>
        </td>
        <td>
            <a class="btn badge-light" href="/edita/<%= details._id%>">Editar</a></td>
        <td>
            <a class="btn badge-light" href="/excluir/<%= details._id%>">Excluir</a></td>
    </tr>
    <% })%>
</tbody>
</table>
<br />
<a href="/" class="btn badge-light">Voltar</a>
<a href="/cad" class="btn badge-light">Cadastrar novo estagiário</a>
<%- include("componentes/footer.ejs")%>