<%- include ("componentes/header.ejs") %>

<title>Cad Profissional - Editar</title>

<%- include ("componentes/menu.ejs") %>

<div class="container">
    <h2 class="my-4">Editar registros</h2>
    <% data.forEach(function(details) { %>
    <form action="/editar/<%=details._id %>" method="POST"
        class="needs-validation shadow px-5 pt-5 pb-3 mb-3 bg-white rounded" novalidate>
        <div class="form-row mb-3">
            <div class="col-md-3">
                <label for="validacao">Primeiro nome</label>
                <input type="text" class="form-control" value="<%= details.name %>" name="name" required>
                <div class="invalid-feedback">Por favor, informe o nome do usuário.</div>
            </div>
            <div class="col-md-3">
                <label for="validacao02">Sobrenome</label>
                <input type="text" class="form-control" value="<%= details.sobrenome %>" name="sobrenome" required="">
                <div class="invalid-feedback">Por favor, informe o sobrenome do usuário.</div>
            </div>
            <div class="col-md-4">
                <label for="validacao03">Email</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">@</span>
                    </div>
                    <input type="email" class="form-control" value="<%= details.email %>" name="email" required>
                    <div class="invalid-feedback">Por favor, informe o email do usuário.</div>
                </div>
            </div>
            <div class="col-md-2">
                <label for="validacao04">Telefone</label>
                <input type="text" class="form-control" value="<%= details.tel %>" name="tel" required
                    data-mask="(00) 0 0000-0000" data-mask-clearifnotmatch="true">
                <div class="invalid-feedback">Por favor, informe o Telefone do usuário.</div>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-md-5">
                <label for="validacao04">Endereço</label>
                <input type="text" class="form-control" value="<%= details.endereco %>" name="endereco" required>
                <div class="invalid-feedback">Por favor, informe o endereço.</div>
            </div>
            <div class="col-md-3">
                <label>Cidade</label>
                <input type="text" class="form-control" value="<%= details.cidade %>" name="cidade" required>
                <div class="invalid-feedback">Por favor, informe a cidade.</div>
            </div>
            <div class="col-md-1">
                <label>UF</label>
                <select class="form-control" name="uf" required>
                    <option value="<%= details.uf %>"><%= details.uf %></option>
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AM">AM</option>
                    <option value="AP">AP</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MG">MG</option>
                    <option value="MS">MS</option>
                    <option value="MT">MT</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PE">PE</option>
                    <option value="PI">PI</option>
                    <option value="PR">PR</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="RS">RS</option>
                    <option value="SC">SC</option>
                    <option value="SE">SE</option>
                    <option value="SP">SP</option>
                    <option value="TO">TO</option>
                </select>
                <div class="invalid-feedback">Por favor, informe o estado.</div>
            </div>
            <div class="col-md-3">
                <label>Profissão</label>
                <input type="text" class="form-control" value="<%= details.profissao %>" name="profissao" required>
                <div class="invalid-feedback">Por favor, informe uma profissão.</div>
            </div>
        </div>
        <div class="form-row my-4">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/registros" class="btn btn-dark ml-2">Voltar</a>
            </div>
        </div>
    </form>
    <% }) %>
</div>

<%- include ("componentes/footer.ejs") %>